SVM regression model to predict a movie box-office

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df=pd.read_csv('{Source File Location}',header=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [ ]:
df=df.fillna(df.mean())
df=pd.get_dummies(df,columns=["3D_available","Genre"],drop_first=True)

In [22]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [5]:
X=df.loc[:,df.columns!="Collection"]
y=df["Collection"]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)
y_train.head()

42     50600
58     46600
385    14400
78     42400
424    23400
Name: Collection, dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler().fit(X_train)
X_train_std=sc.transform(X_train)
sc=StandardScaler().fit(X_test)
X_test_std=sc.transform(X_test)
X_test_std

array([[-0.541515  , -1.33166171,  0.80076876, ..., -0.64549722,
        -0.4938648 , -0.72276418],
       [-0.54551801, -1.09985593,  0.69316856, ..., -0.64549722,
        -0.4938648 , -0.72276418],
       [-0.5113626 , -0.64638587,  1.01596915, ..., -0.64549722,
        -0.4938648 ,  1.38357714],
       ...,
       [-0.53169432, -0.40733616,  0.37036797, ...,  1.54919334,
        -0.4938648 , -0.72276418],
       [ 1.50236071,  0.9748058 , -0.20349975, ...,  1.54919334,
        -0.4938648 , -0.72276418],
       [ 1.12021352,  0.9748058 , -1.60230232, ..., -0.64549722,
        -0.4938648 ,  1.38357714]])

In [20]:
from sklearn.svm import SVR
svr=SVR(kernel='linear',C=1000)
svr.fit(X_train_std,y_train)

SVR(C=1000, kernel='linear')

In [21]:
from sklearn.metrics import r2_score
y_test_pred=svr.predict(X_test_std)
r2_score(y_test,y_test_pred)

0.69235607096449